<%= form_with model: task, html: { class: 'form d-flex flex-column justify-content-center' } do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :details, class: 'form-label' %>
    <%= f.text_area :details, size: '5x3', class: 'form-control' %>
  </div>

  <% if task.new_record? == false %>
    <div class="mb-3 form-check">
      <%= f.label :completed, class: 'form-check-label' %>
      <%= f.check_box :completed, class: 'form-check-input' %>
    </div>
  <% end %>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
<hr>
<%= link_to root_path, class: "text-decoration-none" do %>
  <div class='d-flex'>
    <i class="fa-solid fa-arrow-rotate-left p-1"></i>
    <p>Back to list</p>
  </div>
<% end %>
