<div class="container w-50 mt-3">
  <div class="d-flex justify-content-between mb-3">
    <h1><%= @task.title %></h1>
    <%= link_to 'Edit task', edit_task_path(@task), class: 'text-decoration-none bg-light border rounded p-3' %>
  </div>
  <p class='bg-light p-3 border rounded'><%= @task.details %></p>
  <% if @task.completed? %>
    <%= check_box_tag 'Completed?', 'no', @task.completed? %>
    <%= label_tag 'This task is completed' %>
  <% else %>
    <%= check_box_tag 'Completed?', 'no', @task.completed? %>
    <%= label_tag 'This task is not completed yet' %>
  <% end %>


  <br>
  <div class="d-flex justify-content-between mt-2">
    <%= link_to task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Delete #{@task.title}?" }, class: 'text-decoration-none' do %>
      <div class="d-flex">
        <i class="fa-solid fa-trash pt-1"></i>
        <p class='px-1'>Delete</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "text-decoration-none" do %>
    <div class='d-flex'>
      <i class="fa-solid fa-arrow-rotate-left p-1"></i>
      <p>Back to list</p>
    </div>
    <% end %>
  </div>
</div>
